.navbar-brand {
    font-size: 25px;
}
.navbar {
    height: 70px;
    font-size: 20px;
}

.html, body {height:100%;
}
.geral {
    min-height:100%;
    position:relative;
    width:800px;
}
.card-title{
    font-size: 25px;
    padding: 20px;
}
.card {
    width: 800px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    border-radius: 10px;
    float: left;
    clear: both;
    position: relative;
}
footer {
    float: left;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 30px;
    width: 100%;
    color: black;
    background-color: rgb(230, 236, 236);
}