body {
    font-family:  'Dokdo', cursive;
}
.menu li {
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    }
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
table, td, th {
    border: 2px solid red;
}

form {
    background-color: rgb(201, 189, 189);
    border-radius: 05px;
    padding: 10px;
    margin: 10px;
    width: 452px;
}
form textarea {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
input[type=submit]{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    }
input hover:[type=submit] {
    background-color: red;
}
form > a {
    background-color: black;
}