* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #7E459B;
  }
  
  .jogo-memoria {
    width: 750px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .carta {
    width: calc(20% - 10px);
    height: calc(30% - 10px);
    margin: 10px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .carta:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .carta.flip {
    transform: rotateY(180deg);
  }
  
  .carta-frente,
  .carta-verso {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #B382BA;
    backface-visibility: hidden;
  }
  
  .carta-frente {
    transform: rotateY(180deg);
  }
  